*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 49vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
button{
    width: 100px;
    margin: 19px auto;
}
p{
    font-size: 35px;
}