body {
    background-color: #7149C6;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1,
p,
span {
    color: #FFDEB9;
}

/*#increment-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}*/

#increment-btn {
    margin-top: 30px;
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

#increment-btn:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

#increment-btn:active {
    background-color: rgb(255, 56, 86);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}