*{
    margin: 0;
    padding: 0;
}
.container{
   width: 15vw;
margin: 0 auto;  
display: flex;
flex-direction: column;
gap: 3vh;  
margin-top: 18vh;
}
#incriment{
    width: 5vw;
    
}
#count,#incriment{
    margin: 0 auto;
}
